/*Loader*/
body {
    z-index: 1;
    position: absolute;
    .loader {
        display: flex;
        z-index: 2;
        height: 100%;
        width: 100%;
        position: fixed;
        background-color: rgba(246, 246, 246, 255);
        justify-content: center;
        align-items: center;
        column-gap: 5%;
        animation-duration: 3s;
        animation: hide-loader 3s;
        animation-fill-mode: forwards;
        .first__loader {
            background-color: $primary-color;
            padding: 28px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            animation-name: loader;
            animation-duration: 0.8s;
            animation-timing-function: linear;
        }
        .second__loader {
            padding: 28px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: $secondary-color;
            animation-name: loader;
            animation-duration: 0.8s;
            animation-delay: 0.5s;
            animation-timing-function: linear;
        }
        .third__loader {
            padding: 28px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: $tertiary-color;
            animation-name: loader;
            animation-duration: 0.8s;
            animation-delay: 1s;
            animation-timing-function: linear;
        }
        i {
            font-size: 28px;
            justify-content: center;
            align-items: center;
        }
    }
}

@keyframes loader {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(-100px);
    }
    75% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes hide-loader {
    70% {
        opacity: 2;
    }
    85% {
        opacity: 0;
        z-index: 1;
    }
    100% {
        z-index: 0;
        opacity: 0;
        visibility: hidden;
    }
}

/* hearth animation */
.like {
    position: relative;
    cursor: pointer;
    i:nth-of-type(1) {
        position: absolute;
        transform: scale(1);
        transition: 300ms ease-in-out;
        color: gray;
    }

    i:nth-of-type(2) {
        color: transparent;
        transform: scale(0);
        transition: 300ms ease-in-out;
        background: linear-gradient($secondary-color, $primary-color);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    &:hover,
    &:active {
        i:nth-of-type(1) {
            transform: scale(0);
            color: transparent;
        }
        i:nth-of-type(2) {
            transform: scale(1);
            background: linear-gradient($secondary-color, $primary-color);
            -webkit-background-clip: text;
        }
    }
}
