button {
    padding: 15px;
    border-radius: 25px;
    background: linear-gradient($secondary-color, $primary-color);
    margin: auto;
    color: white;
    border: none;
    font-weight: 500;
    &:hover,
    &:active {
        opacity: 0.8;
        @include box-shadow;
        cursor: pointer;
    }
}
