// header commun
header{
    padding: 25px 10px;
    a{
        font-size: 20px;
        float: left;
    }
    p{
        font-family: "Shrikhand";
        text-align: center;
        font-size: 30px;
    }
}

// header index 
.header-section{
    display: flex;
    justify-content: center;
    padding: 15px;
    img {
        height: 30px;
    }
}