@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

header {
  padding: 25px 10px;
}
header a {
  font-size: 20px;
  float: left;
}
header h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 30px;
}

.header-section {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.header-section img {
  height: 30px;
}

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 20px;
  font-weight: 300;
}
footer h2 {
  font-family: "pacifico", cursive;
  margin-bottom: 20px;
  width: 100%;
  font-size: 20px;
}
footer a {
  color: white;
}
footer ul li i {
  width: 20px;
  height: 25px;
}
footer ul li span {
  padding-left: 10px;
  font-weight: 400;
}
footer ul li:nth-of-type(4) {
  margin: 10px 0px 20px 0px;
}

/*Loader*/
body {
  z-index: 1;
  position: absolute;
}
body .loader {
  display: flex;
  z-index: 2;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgb(246, 246, 246);
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  animation-duration: 3s;
  animation: hide-loader 3s;
  animation-fill-mode: forwards;
}
body .loader .first__loader {
  background-color: #9356DC;
  padding: 28px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  animation-name: loader;
  animation-duration: 0.8s;
  animation-timing-function: linear;
}
body .loader .second__loader {
  padding: 28px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #FF79DA;
  animation-name: loader;
  animation-duration: 0.8s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
}
body .loader .third__loader {
  padding: 28px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #99E2D0;
  animation-name: loader;
  animation-duration: 0.8s;
  animation-delay: 1s;
  animation-timing-function: linear;
}
body .loader i {
  font-size: 28px;
  justify-content: center;
  align-items: center;
}

@keyframes loader {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes hide-loader {
  70% {
    opacity: 2;
  }
  85% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    z-index: 0;
    opacity: 0;
    visibility: hidden;
  }
}
/*hearth animation*/
.like {
  position: relative;
}
.like i:nth-of-type(1) {
  position: absolute;
  transform: scale(1);
  transition: 300ms ease-in-out;
}
.like i:nth-of-type(2) {
  color: transparent;
  transform: scale(0);
  transition: 300ms ease-in-out;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.like:hover i:nth-of-type(1), .like:active i:nth-of-type(1) {
  transform: scale(0);
  color: transparent;
}
.like:hover i:nth-of-type(2), .like:active i:nth-of-type(2) {
  transform: scale(1);
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
}

button {
  padding: 15px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin: auto;
  color: white;
  border: none;
  font-weight: 500;
}
button:hover, button:active {
  opacity: 0.8;
  box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.31);
  cursor: pointer;
}

main {
  display: flex;
  flex-wrap: wrap;
}
main form {
  width: 100%;
  background-color: rgb(234, 234, 234);
  display: flex;
  justify-content: center;
  padding: 15px;
  border-top: 1px lightgrey solid;
  box-shadow: inset -2px 2px 6px rgba(54, 54, 54, 0.2);
}
main form input {
  border: none;
  background-color: rgb(234, 234, 234);
  justify-content: center;
  padding-left: 10px;
  max-width: 200px;
}
main form input::placeholder {
  color: black;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
main .reservation {
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 50px;
  max-width: 100%;
}
main .reservation h2 {
  font-size: 25px;
  flex-basis: 100%;
  font-weight: 800;
  text-align: center;
  padding: 15px 40px;
}
main .reservation p {
  font-size: 17px;
  flex-basis: 100%;
  text-align: center;
  padding: 0px 20px 20px 20px;
  font-weight: 300;
}
main .working {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
main .working h2 {
  flex-basis: 100%;
  font-weight: 600;
  font-size: 20px;
  padding: 30px 0px 20px 10px;
}
main .working ol {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-bottom: 25px;
  counter-reset: compteliste;
}
main .working ol li {
  flex-basis: 80%;
  border-radius: 15px;
  box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.31);
  background-color: rgb(246, 246, 246);
  margin: auto;
  text-align: center;
  font-weight: 500;
  position: relative;
}
main .working ol li a {
  flex-basis: 100%;
  align-items: center;
  display: flex;
  height: 100%;
}
main .working ol li a i {
  padding: 30px;
  color: grey;
  font-size: 1.1em;
  width: 15px;
}
main .working ol li:hover {
  background-color: #f5edff;
}
main .working ol li:hover i {
  color: #9356DC;
}
main .working ol li::before {
  counter-increment: compteliste 1;
  content: counter(compteliste);
  position: absolute;
  left: -10px;
  bottom: 30px;
  font-weight: 400;
  font-size: 0.9em;
  background-color: #9356DC;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  padding: 3px;
  color: white;
}
main .working ol li i {
  width: 20px;
  height: 20px;
  padding: 20px;
  color: grey;
  text-align: center;
}
main .restaurant-list {
  flex-basis: 100%;
  background-color: rgb(246, 246, 246);
}
main .restaurant-list .restaurant-list__section {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(246, 246, 246);
  row-gap: 15px;
  padding-bottom: 50px;
  max-width: 1200px;
  margin: 0 auto;
}
main .restaurant-list .restaurant-list__section h2 {
  flex-basis: 100%;
  font-weight: 600;
  font-size: 20px;
  padding: 50px 0px 20px 10px;
}
main .restaurant-list .restaurant-list__section a {
  background-color: white;
  border: 10px none solid;
  border-radius: 20px;
  padding-bottom: 15px;
  flex-basis: 90%;
  margin: auto;
  position: relative;
}
main .restaurant-list .restaurant-list__section a figure {
  height: 210px;
}
main .restaurant-list .restaurant-list__section a figure img {
  width: 100%;
  height: 210px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}
main .restaurant-list .restaurant-list__section a div {
  display: flex;
  flex-wrap: wrap;
}
main .restaurant-list .restaurant-list__section a div h3 {
  flex-basis: 100%;
  font-weight: 600;
  padding: 10px 0px 5px 10px;
  color: black;
}
main .restaurant-list .restaurant-list__section a div p {
  font-weight: 300;
  padding-left: 10px;
  color: black;
}
main .restaurant-list .restaurant-list__section a div span {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 7px 10px;
  background-color: rgb(153, 226, 208);
  color: rgb(0, 135, 102);
  font-weight: 500;
  border-radius: 3px;
}
main .restaurant-list .restaurant-list__section a div .like {
  position: absolute;
  bottom: 25px;
  right: 30px;
  font-size: 25px;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  main .working {
    display: flex;
    flex-basis: 100%;
  }
  main .working ol {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
    justify-content: space-between;
  }
  main .working ol li {
    border-radius: 15px;
    margin: auto;
    text-align: center;
    flex-basis: 30%;
    box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.31);
  }
  main .working ol li a {
    justify-content: center;
  }
}
@media screen and (min-width: 560px) {
  main .reservation {
    width: 100%;
  }
  main .working {
    display: flex;
    justify-content: center;
  }
  main .working ol {
    flex-basis: 500px;
  }
  main .restaurant-list__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
  }
  main .restaurant-list__section a {
    max-width: 45%;
  }
  main .restaurant-list__section a figure {
    height: 220px;
  }
  main .restaurant-list__section a figure img {
    object-fit: cover;
    height: 180px;
  }
}
* {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

header {
  padding: 25px 10px;
}
header a {
  font-size: 20px;
  float: left;
}
header h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 30px;
}

.header-section {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.header-section img {
  height: 30px;
}

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 20px;
  font-weight: 300;
}
footer h2 {
  font-family: "pacifico", cursive;
  margin-bottom: 20px;
  width: 100%;
  font-size: 20px;
}
footer a {
  color: white;
}
footer ul li i {
  width: 20px;
  height: 25px;
}
footer ul li span {
  padding-left: 10px;
  font-weight: 400;
}
footer ul li:nth-of-type(4) {
  margin: 10px 0px 20px 0px;
}

/*Loader*/
body {
  z-index: 1;
  position: absolute;
}
body .loader {
  display: flex;
  z-index: 2;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgb(246, 246, 246);
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  animation-duration: 3s;
  animation: hide-loader 3s;
  animation-fill-mode: forwards;
}
body .loader .first__loader {
  background-color: #9356DC;
  padding: 28px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  animation-name: loader;
  animation-duration: 0.8s;
  animation-timing-function: linear;
}
body .loader .second__loader {
  padding: 28px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #FF79DA;
  animation-name: loader;
  animation-duration: 0.8s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
}
body .loader .third__loader {
  padding: 28px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #99E2D0;
  animation-name: loader;
  animation-duration: 0.8s;
  animation-delay: 1s;
  animation-timing-function: linear;
}
body .loader i {
  font-size: 28px;
  justify-content: center;
  align-items: center;
}

@keyframes loader {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes hide-loader {
  70% {
    opacity: 2;
  }
  85% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    z-index: 0;
    opacity: 0;
    visibility: hidden;
  }
}
/*hearth animation*/
.like {
  position: relative;
}
.like i:nth-of-type(1) {
  position: absolute;
  transform: scale(1);
  transition: 300ms ease-in-out;
}
.like i:nth-of-type(2) {
  color: transparent;
  transform: scale(0);
  transition: 300ms ease-in-out;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.like:hover i:nth-of-type(1), .like:active i:nth-of-type(1) {
  transform: scale(0);
  color: transparent;
}
.like:hover i:nth-of-type(2), .like:active i:nth-of-type(2) {
  transform: scale(1);
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
}

button {
  padding: 15px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin: auto;
  color: white;
  border: none;
  font-weight: 500;
}
button:hover, button:active {
  opacity: 0.8;
  box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.31);
  cursor: pointer;
}

img {
  width: 100px;
  height: 100px;
}

/*# sourceMappingURL=style.css.map */
